body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
  margin: 0;
  font-family: cursive;
}

.container {
  text-align: center;
  font-family: cursive;
}

h1{
    color: rgb(255, 20, 147);
    font-size: 2rem;
    margin-bottom: 20px;
}

.buttons {
  position: relative;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.3s ease;
  position: relative;
}
#yes {
  z-index: 2;
}

button{
    background-color: rgb(255, 20, 147);
    color: white;
    font-family: cursive;
}
button:hover {
    background-color: crimson;
    color: white;
    transform: scale(1.1);
}

